{% extends 'layout.html' %}

{% block content %}
    <h1 class="mt-4 text-xl-center" style="font-family: Monoton, Tahoma, sans-serif; letter-spacing: 2px; word-spacing: 5px;">Question Details</h1>

    <div class="table-responsive mt-4 mb-4">
        <table class="table table-bordered table-hover table-ligth">
            <thead class="bg-secondary text-white">
                <tr class="active">
                    <th>Id</th>
                    <th>Submission time</th>
                    <th>View number</th>
                    <th>Vote number</th>
                    <th>Title</th>
                    <th>Message</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody class="bg-light shadow p-3 mb-5 bg-white rounded">
            {% for question in questions %}
                {% if id == question['id'] %}
                    <tr>
                        <td>{{ question['id'] }}</td>
                        <td>{{ question['submission_time'] }}</td>
                        <td>{{ question['view_number'] }}</td>
                        <td>{{ question['vote_number'] }}</td>
                        <td>{{ question['title'] }}</td>
                        <td>{{ question['message'] }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        <br>
        <table class="table table-bordered table-hover table-ligth">
            <tbody class="bg-light shadow p-3 mb-5 bg-white rounded">
                {% for answer in answers %}
                    {% if id == question['question_id'] %}
                        <tr>
                            <td>{{ answer['submission_time'] }}</td>
                            <td>{{ answer['message'] }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        <br>
        <a href="/question/<question_id>/new-answer" class="btn btn-primary">Post a new answer</a>
    </div>
{% endblock %}