<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Question Details | Ask Mate</title>
</head>
<body>
    <div class="table-responsive mt-4 mb-4">
        <table class="table table-bordered table-hover table-ligth">
            <thead class="bg-secondary text-white">
                <tr class="active">
                    <th>Id</th>
                    <th>Submission time</th>
                    <th>View number</th>
                    <th>Vote number</th>
                    <th>Title</th>
                    <th>Message</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody class="bg-light shadow p-3 mb-5 bg-white rounded">
            {% for question in questions %}
                {% if id == question['id'] %}
                    <tr>
                        <td>{{ question['id'] }}</td>
                        <td>{{ question['submission_time'] }}</td>
                        <td>{{ question['view_number'] }}</td>
                        <td>{{ question['vote_number'] }}</td>
                        <td>{{ question['title'] }}</td>
                        <td>{{ question['message'] }}</td>
                        <td>{{ question['image'] }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>