{% extends 'layout.html' %}

{% block content %}
    {% include 'navbar.html' %}

    <div class="wrapper">

        <form class="form-login" action="" method="post">
            <h2>Sign Up</h2>
            <div class="form-group">
                <input type="email" class="form-control"  aria-describedby="email" placeholder="Enter email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control"  placeholder="Password">
            </div>

            <button type="submit" class="form-button btn btn-primary btn-block">Sign Up</button>

        </form>
    </div>



{% endblock %}